@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-circle-color: 50, 50, 50;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  height: 100%;
  width: 100%;
  touch-action: none;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}