@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --circle-color: 50, 50, 50;
  --circle-favorite-hovering-color: 255, 115, 170;
  --circle-favorite-color: 255, 41, 126;
  --circle-hovering-color: 255, 255, 255, 50%;
  --circle-selected-color: 183, 79, 247;
  --tooltip-background-color: 50, 50, 50;
  --tooltip-color: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --selected-background-rgb: 234, 234, 234;
  --border-color: 127, 127, 127;
  --silder-handle-color: 127, 127, 127;
  --shadow-color: 127, 127, 127, 25%;
  --saturday-color: 80, 150, 242;
  --sunday-color: 245, 73, 119;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.searchBar, .infoSilde {
  width: 400px;
}

.daySelectButton {
  right: 1em;
  top: 1em;
}

@media screen and (orientation:portrait) and (max-width: 800px) /* mobile portrait */
{
  .searchBar, .infoSilde {
    width: 100%;
  }

  .daySelectButton {
    right: 1em;
    top: 4.75em;
  }
}

@media screen and (orientation:landscape) and (max-height: 800px) /* mobile landscape */
{
  .searchBar, .infoSilde {
    width: 50%;
  }

  .daySelectButton {
    right: 1em;
    top: 1em;
  }
}

@media screen and (max-width: 800px) /* any narrow display */
{
  .searchBar, .infoSilde {
    width: 100%;
  }

  .daySelectButton {
    right: 1em;
    top: 4.75em;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  height: 100%;
  width: 100%;
  touch-action: none;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
}

a {
  color: cornflowerblue;
  font-weight: 700;
  text-decoration: underline;
}